.registration-form {
	margin-top: 20px;
}

.valid-feedback, .invalid-feedback {
	/* display: block; */
	font-size: larger;
  text-align: left;
  margin-top: 0.25rem;
}
.sign-up-title {
	text-align: left;
	font-weight: 500;
	color: white;
  }
  .form-div{
	width: 700px;
  }
  .form-css {
	width: 800px;
	font-size: 1.5rem;
	font-weight: 600; 
	color: white;
	background-color: black;
	margin: 15px 0px;
	border: 0;
	border-bottom: 2px solid white;
  }
  .singup-bu{
	  border-radius: 0;
	  font-weight: 500;
	  width: 140px;
	  height: 40px;
	  margin-top: 10px;
	font-weight: 500;
	font-size: larger;
  }